<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.HospitalManagementConnectionString"
            connectionString="Data Source=DESKTOP-UUT1B4I;Initial Catalog=HospitalManagement;Integrated Security=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HospitalManagementConnectionString1"
            connectionString="Data Source=TrieuVy\TRIEUVY;Initial Catalog=HospitalManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HospitalManagementConnectionString1"
            connectionString="Data Source=LAPTOP-S013149L\SQLEXPRESS;Initial Catalog=HospitalManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HospitalManagementConnectionString2"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=HospitalManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>